.box-layout {
  background: url("/images/bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.box-layout__box {
  border-radius: 3px;
  background: fade-out(white, 0.15);
  text-align: center;
  width: 25rem;
  padding: 3.2rem 1.6rem;
}

.box-layout__title {
  margin: 0 0 1.6rem 0;
  line-height: 1;
}
