.button {
  background: $light-blue;
  color: white;
  padding: 1rem;
  border: 0;
  font-weight: 300;
  font-size: $font-large;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}

.button__link {
  background: none;
  color: white;
  border: 0px;
}

.button--secondary {
  background: #888;
}
