.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  padding: $s-size;
  font-weight: 300;
  font-size: $font-large;
}

.select {
  @extend .text-input;
}

.text-area {
  @extend .text-input;
  height: 10rem;
}
