// Colors
$dark-grey: #333333;
$grey: #6666;
$light-blue: #2990c2;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Font sizes
$font-large: 1.8rem;
$font-small: 1.4rem;

$desktop-breakpoint: 45rem;
